<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>OfficeServe Delivery Note</title>

    <style>

    </style>
</head>

<body>
Hi,<br>
<br>
Please find attached the delivery notes and the delivery manifest for tomorrow.<br>
<br>
Kind regards,<br>
OfficeServe<br>
</body>
</html>
