<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>OfficeServe Product Report</title>

    <style>

    </style>
</head>

<body>
Hi,<br>
<br>
Please find attached the product report.<br>
<br>
Kind regards,<br>
OfficeServe<br>
</body>
</html>
