Order Reference: {{orderReference}}
Date Ordered: {{createdDate}}
Delivery Date: {{deliveryDate}} {{deliveryTime}}

Order has been updated to the following status:
    {{orderStatus}}

Please reply to this email if you have any questions.